Makefile.Release                 
LicenceSplit.pro.user
debug
release/
releaseVersion/
Makefile
mainwindow.ui.autosave
source.qrc
Makefile.Debug                         
.qmake.stash
data/
mainwindow.cpp.autosave
.qmake.stash
LicenceSplit.pro.user.edc31ed
1_ok/
data_alllllllllllll/
data_old/
fileinfo_mode1         
fileinfo_mode2         
fileinfo_mode3
licenseSplitData/
.git_temp/
LicenceSplit.pro.user.8523429
addNumber.py
deleteMergeList
licenseSplitData_test/
mergeList
mergeList_old
object_script.LicenceSplit.Debug
object_script.LicenceSplit.Release
style/
test.jpg
testPinyin
